@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    @apply bg-blue-500 text-white px-2 py-1 rounded;
  }
  .link {
    @apply py-2 px-4 rounded-r-md hover:bg-blue-500 hover:text-white border-b-[1px] border-black;
  }
  .active {
    @apply bg-blue-500 text-white  py-2 px-4 rounded;
  }
}

form {
  padding: 0.5rem;
  border: plum 1px solid;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2); /* Transparent white */
  border-radius: 15px;
  backdrop-filter: blur(10px); /* Creates the glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),
    inset -4px -4px 15px rgba(236, 230, 230, 0.562); /* Outer soft dark shadow */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Optional border */
}

form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  font-weight: 700;
}
form input,
form select {
  border: 1px saddlebrown solid;
  min-width: fit-content;
  height: 1.6rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
}
form button {
  background: rebeccapurple;
  color: white;
  padding: 0.5rem 6rem;
  border: 0;
  height: 1.6rem;
  border-radius: 0.2rem;
}

table thead th,
table tbody td {
  border: 1px solid;
  text-align: center;
  padding: 0 0.2rem;
}

.shadowBtn {
  margin: 0 auto;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  box-shadow: 4px 14px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18); /* Optional border */
}

.addform {
  width: 50rem;
}
.addform label {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
}
.addform label input,
.addform label select {
  height: 1.5rem;
  width: 100%;
  color: black;
  padding-left: 0.5rem;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
}
.none {
  display: none !important;
}
.add {
  background: #2d8857;
  width: 6rem;
  height: 1.5rem;
  padding: 0.1rem;
  border-radius: 0.5rem;
  font-size: small;
}

.addform input:disabled,
.addform select:disabled {
  background: rgba(0, 0, 0, 0.199);
}

table {
  margin-top: 1rem;
  width: 100%;
}
tr th {
  padding-inline: 1.5rem;
  border: 1px solid black;
  font-size: 0.6rem;
}

tr td {
  text-align: center;
  padding-inline: 1.5rem;
  font-size: 0.6rem;
}

#report_footer_table tr td {
  border: none;
  padding: 0.3rem;
}
